body{
    background: lightgray; 
}
#header-img{
    display: inline-block;
    width: 250px;
    text-align: center
}
#header{
    background: ;
    text-align: center;
    
}
h1{
    text-align: center
        
}

#nav-bar{
    border: solid;
    text-align: center
    overflow: hidden; 
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
.container-nav{
    display: flex;
    justify-content: space-around;
}
.container{
    display: flex;
    justify-content: space-around;
   background-color: white;
}
.container-2{
    display: flex;
    justify-content: space-around;
     background-color: royalblue
}
.container-3{
    display: flex;
    justify-content: space-around;
    background-color: royalblue
}
.container-4{
    display: flex;
    justify-content: space-around;

}
#product-img{
    display: block;
    width: 450px;
  height: auto;
}
#watch-demo{
    text-align: center
}
#form{
    text-align: center
    
}

